<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <meta name=”Keywords” content="傷物語, コスプレ, C90, キスショット, こおき, koki414, 夏コミ, コミケ, 写真集" />
    <meta name=”description” content="鉄血にして、熱血にして… 傷物語、キスショットのコスプレ写真集です。2016年8月13日 コミックマーケット90 2日目 東3ホール コ12a 「NGPR」" />
    <title><%= current_page.data.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <%= partial "_partial/social" %>
    <%= stylesheet_link_tag "normalize", "style", "slick" %>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:700' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <%= javascript_include_tag  "all" %>
  <div id="fb-root"></div><script async src="//platform.twitter.com/widgets.js" id="twitter-wjs"></script>
  <script src="//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0" id="facebook-jssdk" async></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81338357-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
